extends layout

block content
  h1= title
  a(href='/logout') logout
  a(href='/kintai/2012/12') kintai
  p Welcome to #{user.family_name}
  p 名前
    div #{user.name}
  p メールアドレス
    div #{user.email}
  p 画像
    img(src= user.picture)
  p 性別
    div #{user.gender}
