div.row
  div#breadcrumb.col-md-12
    ol.breadcrumb
      li
        a(href='/') HOME

if(admin)
  mixin dash(title)
    div.col-xs-12.col-sm-6.col-md-4
      h4.page-header.text-right
        i.fa.fa-linux= title
      small= title
      div.row-ow-server-bottom
        div.col-sm-4
          div.knob-slider
            input#knob-srv-6.knob(data-width=60, data-height=60, data-angleOffset=180,data-fgColor='#6AA6D6',data-skin='tron',data-thickness='.2',value='')
        div.col-sm-8
          div.row
            i.fa.fa-linux
            | CentOS
  div.row
    dash('test')
    div.col-xs-12.col-sm-12.col-md-6
      div.box
        div.box-header
          div.box-name
            i.fa.fa-magic
            span 有給休暇付加フォーム
        div.box-content
          div.form-horizontal(data-url='/yuukyuu/ykreg', data-method='POST')
            div.form-group
              label.col-sm-2.control-label(for='select') 付与日数
              div.col-sm-10
                select(name='nissuu').selectmenu
                  - var nisu = [3, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ,20];
                  for i in nisu
                    option= i

            div.form-group
              label.col-sm-2.control-label(for='date') 日付
              div.col-sm-8
                input.datepicker.form-control(type='text',name='date',placeholder='発生日を入力')
            div.form-group
              div.col-sm-offset-2.col-sm-10
                button.btn.btn-primary.btn-label-left(type='submit') Submit
                  span
                    i.fa.fa-clock-o
  div.row
    div.col-xs-12.col-sm-12.col-md-6
      div.box
        div.box-header
          div.box-name
            i.fa.fa-magic
            span 付加済み有給休暇
          div.box-icons
            a(href='/users/#{db.user.googleId}/export/有給.csv')
              i.fa.fa-download
             
        div.box-content
          table.table.table-striped
            thead
              tr
                th 名前
                th 登録日
                th 発生有給数
                th 残有給数
                th archive
            tbody
              if(db.yuukyuus.length)
                for data in db.yuukyuus
                  tr
                    td= db.user.name
                    td= new Date(data.registDay).toLocaleDateString()
                    td= data['発生日数']
                    td= data.remains
                    td= data.archive

    div.col-xs-12.col-sm-12.col-md-6
      div.box
        div.box-header
          div.box-name
            i.fa.fa-magic
            span 申請済み休暇
          div.box-icons
            a(href='/users/#{db.user.googleId}/export/申請済み休暇.csv')
              i.fa.fa-download
        div.box-content
          table.table.table-striped
            thead
              tr
                th 休暇日
                th 消化有給日
                th 申請休暇種別
                th 備考欄
                th archive
            tbody
              if(db.syutokus.length)
                for data in db.syutokus
                  tr
                    td= new Date(data.registDay).toLocaleDateString()
                    if(data.consumeDay)
                      td= new Date(data.consumeDay).toLocaleDateString()
                    else
                      td
                    td= data.syurui
                    if(data.comment)
                      td= data.comment
                    else
                      td
                    td= data.archive
  div.col-xs-12.col-sm-12.col-md-6
    div.box
      div.box-header
        div.box-name
          i.fa.fa-magic
          span 休日出勤
        div.box-icons
          a(href='/users/#{db.user.googleId}/export/休日出勤.csv')
            i.fa.fa-download
      div.box-content
        table.table.table-striped
          thead
            tr
              th 登録日
              th 勤務日数
              th 残代休
          tbody
            if(db.syukkins.length)
              for data in db.syukkins
                tr
                  td= new Date(data.registDay).toLocaleDateString()
                  td= data['発生日数']
                  td= data.remains

  script(type='text/javascript').
    $(document).ready(function(){
      LoadTimePickerScript(DatePickers);
      $('.form-group button').click(function(e){
        var $val = $(this).parent().parent().parent();
        var $select= $val.children('div.form-group').children('div').children('select.selectmenu');
        var $input = $val.children('div.form-group').children('div').children('input');
        var url = $val.attr('data-url');
        var method = $val.attr('data-method');
        var data_object = new Object();
        data_object.user = "#{db.user.googleId}";
        $select.each(function(s_i, s_val){
          data_object[$(s_val).attr('name')] = $(s_val).val();
        });
        $input.each(function(i_i, i_val){
          data_object[$(i_val).attr('name')] = $(i_val).val();
        });
        setTimeout(function(){
          console.log(url,method,data_object);
          $.ajax({
            type     : method,
            url      : url,
            data     : data_object,
            dataType : "json",
            async    : true,
            success  : function(msg){
              console.log(msg);
              alert(msg.msg);
              LoadAjaxContent('/users/#{db.user.googleId}');
            },
            error    : function(XMLHttpRequest, textStatus, errorThrown){
              console.log(XMLHttpRequest, textStatus, errorThrown);
              alert(textStatus);
              LoadAjaxContent('/users/#{db.user.googleId}');
            }
          });
        }, 100);
      });
    });
